h1 {
  font-family: 'Big Shoulders Stencil Text', cursive;
  color: white
}
h2 {
  font-family: 'Big Shoulders Stencil Text', cursive;
  color: white
}
body {
  background-color: black
}
p {
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-weight: bold;
  color: white
}
