h1 {
  font-family: 'Permanent Marker', cursive;
  color: white;
}
h2 {
  font-family: 'Permanent Marker', cursive;
  color: white;
}
body {
  background-color: black;
}
p {
  font-family: 'Mr Dafoe', cursive;
  color: white;
  font-size: 3.0em;
}
