h1 {
  font-family: 'Big Shoulders Stencil Text', cursive;
  color: #00378f
}
h2 {
  font-family: 'Big Shoulders Stencil Text', cursive;
  color: #70a7ff
}
p {
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-weight: bold;
}
