h1 {
  font-family: 'Anton', sans-serif;
  color: #adffbc;
  font-size: 4.0em;
}
h2 {
  font-family: 'Anton', sans-serif;
  font-size: 1.5em;
  color: #00ff2f
  ]
}
p {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 3.0em;
  color: #16401d;
  font-weight: bold;
}
