h1 {
  font-family: 'Gentium Book Basic', serif;
  color: #fff86b;
}
h2 {
  font-family: 'Gentium Book Basic', serif;
  color: #9500ff
}
body {
  background-color: black
}
p {
  font-family: 'Alegreya', serif;
  color: #fff300;
}
